{% extends "educatorsmaster.html.twig" %}
{% block content %}
        <h2>
            You have already created the quiz (zes) below
        </h2><br>
        <table border="1">
            <!--<tr>
                <th>Title</th>
                <th>See Quiz</th>
                <th>Send to learners</th>
                <th>see results</th>
            </tr>-->
            {% for quiz in quizList %}
            <tr>
                <td>{{quiz.title}}</td>
                <td><a href="/seeQuiz/{{quiz.ID}}">See quiz</a></td>
                <td><a href="/invites/{{quiz.ID}}">send to learners</a></td>
                <td><a href="/seeresults/{{quiz.ID}}">see results</a></td>
                <td><a href="/deletequiz/{{quiz.ID}}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}

