{% extends "educatorsmaster.html.twig" %}
{% block content %}
    {% for question in questionList %}
        <p>{{question.body}}</p>
        <input type="radio" name="questionchoice" value="c1">
        <p>{{question.c1}}</p><br>
        <input type="radio" name="questionchoice" value="c2">
        <p>{{question.c2}}</p><br>
        <input type="radio" name="questionchoice" value="c3">
        <p>{{question.c3}}</p><br>
        <input type="radio" name="questionchoice" value="c4">
        <p>{{question.c4}}</p><br>        
        {% endfor %}
    {% endblock %}
